/*
 *= require_self
 */

@import "variables";
@import "authorization";

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: $bg-color;
  font-family: 'Source Sans Pro', sans-serif;
}

.hidden {
  display: none;
}
