@import "variables";

@keyframes bgScrollLeft {
  100% {
    transform: translateX(-66.66667%);
  }
}

@keyframes bgScrollRight {
  100% {
    transform: translateX(66.66667%);
  }
}

.authorization {
  .content {
    z-index: 5;
    position: absolute;
    width: 800px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 37vh;
    text-align: center;
    text-shadow: 0px 0px 5px $bg-color;
    color: white;

    h1 {
      font-size: 40px;
      font-weight: 600;

      &.success-text {
        color: #00bf00;
      }

      &.failure-text {
        color: #e60000;
      }
    }

    h4 {
      font-weight: 400;
    }
  }

  .footer {
    z-index: 6;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 12px;
    color: #999999;
  }

  .steam-game-bg {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    .game-thumb-group {
      position: absolute;
      white-space: nowrap;
      transform: translate3d(0, 0, 0);
      will-change: transform;

      &:nth-child(even) {
        right: 0;
        animation: bgScrollRight 120s linear infinite;
      }

      &:nth-child(odd) {
        left: 0;
        animation: bgScrollLeft 120s linear infinite;
      }

      &:nth-child(1) {
        top: 4vh;
      }

      &:nth-child(2) {
        top: 23vh;
      }

      &:nth-child(3) {
        top: 42vh;
      }

      &:nth-child(4) {
        top: 61vh;
      }

      &:nth-child(5) {
        top: 80vh;
      }
    }

    img {
      position: relative;
      width: 30vh;
      margin-right: 7vh;
      object-fit: contain;
      opacity: 0;
      transition: opacity 1s;
      box-shadow: 0px 0px 20px 5px #24364c;
    }
  }
}
