@import "variables";

$bg-group-width: 5584px;

@keyframes bgScrollLeft {
  100% {
    transform: translateX(-$bg-group-width);
  }
}

@keyframes bgScrollRight {
  100% {
    transform: translateX($bg-group-width);
  }
}

.authorization {
  .content {
    z-index: 5;
    position: absolute;
    width: 800px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 280px;
    text-align: center;
    text-shadow: 0px 0px 5px $bg-color;
    color: white;

    h1 {
      font-size: 40px;
      font-weight: 600;

      &.success-text {
        color: #00bf00;
      }

      &.failure-text {
        color: #e60000;
      }
    }

    h4 {
      font-weight: 400;
    }
  }

  .footer {
    z-index: 6;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 12px;
    color: #999999;
  }

  .steam-game-bg {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    .game-thumb-group {
      position: absolute;
      white-space: nowrap;
      transform: translate3d(0, 0, 0);

      &:nth-child(even) {
        right: 0;
        animation: bgScrollRight 120s linear infinite;
      }

      &:nth-child(odd) {
        left: 0;
        animation: bgScrollLeft 120s linear infinite;
      }

      &:nth-child(1) {
        top: 40px;
      }

      &:nth-child(2) {
        top: 190px;
      }

      &:nth-child(3) {
        top: 340px;
      }

      &:nth-child(4) {
        top: 490px;
      }

      &:nth-child(5) {
        top: 640px;
      }
    }

    img {
      position: relative;
      width: 226px;
      margin-right: 50px;
      object-fit: contain;
      opacity: 0;
      transition: opacity 1s;
      box-shadow: 0px 0px 20px 5px #24364c;
    }
  }
}

@media (max-width: 980px) {
  .authorization {
    .steam-game-bg {
      .game-thumb-group {
        &:nth-child(1) {
          top: 60px;
        }

        &:nth-child(2) {
          top: 325px;
        }

        &:nth-child(3) {
          top: 590px;
        }

        &:nth-child(4) {
          top: 855px;
        }

        &:nth-child(5) {
          top: 1120px;
        }
      }
      img {
        width: 452px;
      }
    }
  }
}
